<header class="header__links">
	<nav class="">
		<a href="{{ path('home') }}">
			<img src="{{ absolute_url('../uploads/logo.png') }}" height="40px" alt="logo"/>
		</a>
		<a href="{{ path('home') }}">Home</a>
		<a href="{{ path('home') }}">Категории</a>

		{% if user == null %}
			<a href="{{ path('registration_form') }}">Регистрация</a>
			<a href="{{ path('login_form') }}">Войти</a>
		{% else %}
			{% if user.getRole() == 2 %}
				<a href="{{ path('create_pizza_form') }}">Добавить пиццу</a>

			{% endif %}
			<a href="{{ path('logout') }}">Logout</a>
			<button onclick="orderForm();">Собрать заказ</button>

			<div id="orderForm" class="formContainerWrapper">
				<h2>Создание заказа</h2>
				<p id="products">Продукты:
				</p>
				<p id="cost">Цена :
				</p>
				<form>
					<div class="formItem">
						<p>Адресс:</p>
						<input type="text" name="orderAddress" id="orderAddress" required>
					</div>
					<input onclick="sendOrder({{user.getUserId()}});" type="button" id="sendButton" value="Создать">
				</form>

			</div>

		{% endif %}
	</nav>
	{% include 'user/user_info.html.twig'%}
</header>
