{% extends "base.html.twig" %}

{% block title %}
	<title>Pizza-service</title>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="../pizzaCatalogStyle.css">
	<link rel="stylesheet" href="../pizzaWrapperStyle.css">
{% endblock %}

{% block header %}
	<header>
		<div class="title">
			<img src="/images/pizza1.png" alt="img">
			<h1>PIZZA SERVICE</h1>
		</div>
		<div class="profile">
			<div class="profile_info">
				<p>
					{{user.getSecondName() ~ " " ~ user.getFirstName() }}
				</p>
				<p>
					{{user.getEmail()}}
				</p>
			</div>
			{% if user.getAvatarPath() != null %}
				<img class="profile_avatar" src="{{user.getUploadUrlPath(user.getAvatarPath())}}" alt="{{user.getAvatarPath()}}">
			{% endif %}
		</div>
	</header>
{% endblock %}

{% block content %}
	<main>
		<h2>Ассортимент</h2>
		<div class="assortimentBlock">
			{% for pizza in pizzas_list %}
				<div class="assortimentItem">
					<img src="{{pizza.getUploadUrlPath(pizza.getPizzaImage())}}" alt='ava'>

					<div class="pizzaInfo">
						<h1 class="pizzaInfo_title">
							{{pizza.getPizzaTitle()}}
						</h1>
						<h3 class="pizzaInfo_structure">
							{{pizza.getPizzaStructure()}}
						</h3>
						<h3 class="pizzaInfo_description">
							{{pizza.getPizzaDescription()}}
						</h3>
						<h2 class="pizzaInfo_cost">
							{{pizza.getPizzaCost()}}
						</h2>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}

{% block footer %}
	<footer class="footer__background">
		<p class="title-main__font">PIZZA SERVICE</p>
	</footer>
{% endblock %}
