{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="../styles/pizzaCatalogStyle.css">
	<link rel="stylesheet" href="../styles/pizzaWrapperStyle.css">
	<script type="text/javascript" src="script.js"></script>
{% endblock %}

{% block content %}
	<main>
		<h2>Ассортимент</h2>
		<div class="assortimentBlock">
			{% for pizza in pizzas_list %}
				<div class="assortimentItem">
					<img src="{{pizza.getUploadUrlPath(pizza.getPizzaImage())}}" alt='ava'>
					<div class="pizzaInfo">
						<h1 class="pizzaInfo_title">
							{{pizza.getPizzaTitle()}}
						</h1>
						<h3 class="pizzaInfo_structure">
							{{pizza.getPizzaStructure()}}
						</h3>
						<h3 class="pizzaInfo_description">
							{{pizza.getPizzaDescription()}}
						</h3>
						<h2 class="pizzaInfo_cost">
							{{pizza.getPizzaCost()}}
						</h2>
						<h2 id="{{pizza.getPizzaTitle()}}">
							В корзине: 0
						</h2>

					</div>

					<div>
						{% if user != null %}
							{% if pizza != null %}
								<button onclick="addProduct('{{pizza.getPizzaTitle()}}',{{pizza.getPizzaCost()}});">Добавить</button>
								<button onclick="deleteProduct('{{pizza.getPizzaTitle()}}',{{pizza.getPizzaCost()}});">Отменить</button>
							{% endif %}
						{% else %}
							<a href="{{ path('login') }}">Необходимо авторизироваться</a>
						{% endif %}
						{% if user.getRole() == 2 %}
							<a href="{{ path('delete_pizza', {pizzaId: pizza.getPizzaId() }) }}">Удалить</a>
						{% endif %}
					</div>
				</div>
			{% endfor %}

		</div>
	</main>
{% endblock %}
