{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="../styles/pizzaCatalogStyle.css">
	<link rel="stylesheet" href="../styles/pizzaWrapperStyle.css">
{% endblock %}

{% block content %}
	<main>
		<h2>Ассортимент</h2>
		<div class="assortimentBlock">
			{% for pizza in pizzas_list %}
				<div class="assortimentItem">
					<img src="{{pizza.getUploadUrlPath(pizza.getPizzaImage())}}" alt='ava'>
					<div class="pizzaInfo">
						<h1 class="pizzaInfo_title">
							{{pizza.getPizzaTitle()}}
						</h1>
						<h3 class="pizzaInfo_structure">
							{{pizza.getPizzaStructure()}}
						</h3>
						<h3 class="pizzaInfo_description">
							{{pizza.getPizzaDescription()}}
						</h3>
						<h2 class="pizzaInfo_cost">
							{{pizza.getPizzaCost()}}
						</h2>
					</div>
					<div>
						{% if basket != null %}
							{% for product in basket %}
								{% if product == pizza %}
									<a href="{{ path('remove_pizza', {pizzaId: pizza.getPizzaId() }) }}">В корзине</a>
								{% endif %}
							{% endfor %}
						{% else %}
							{% if user != null %}
								<a href="{{ path('add_pizza', {pizzaId: pizza.getPizzaId() }) }}">Заказать</a>
							{% else %}
								<a href="{{ path('login') }}">Необходимо авторизироваться</a>
							{% endif %}

							{% if user.getRole() == 2 %}
								<a href="{{ path('delete_pizza', {pizzaId: pizza.getPizzaId() }) }}">Удалить</a>
							{% endif %}
						{% endif %}


					</div>

				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
